@font-face {
	font-family: 'Snell Roundhand';
	src: url('../fonts/SnellRoundhand.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Snell Roundhand';
	src: url('../fonts/SnellRoundhand-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Snell Roundhand';
	src: url('../fonts/SnellRoundhand-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* outline: 1px solid red; */
}

:root {
	/* --green : #87a243; */
	--green: #020062;
	/* --light-green: #e0ffcd; */
	--light-green: #0c1022;
	--box-shadow: 0 0 10px rgb(0 0 0/15%);
}

html {
	font-size: 16px;
	-ms-overflow-style: scrollbar;
	-webkkit-tap-highlight-color: transparent;
	font-family: sans-serif;
	--ms-text-size-adjust: 100%;
	-webkit-text-size-djust: 100%;
}

body {
	background: linear-gradient(to bottom, #000000, #d3d3d3);
	width: 100%;
}

.main {
	width: 85vw;
	background: #f4f4f4;
	box-shadow: 0 2px 6px 0 rgb(0 0 0 / 10%);
	margin: 1rem auto;
	margin-top: 10rem;
	padding: 2%;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

.btn {
	line-height: 2;
	/* background-color: #e0ffcd; */
	background-color: #3f3f3f;
	padding: 5px 35px;
	display: inline-block;
	border-radius: 20px;
	/* color: #000; */
	color: #fff;
	/* text-transform: capitalize; */
	font-family: inherit;
	font-size: 16px;
	cursor: pointer;
	user-select: none;
	position: relative;
	overflow: hidden;
	vertical-align: middle;
	transition: color 0.3s ease;
	/* box-shadow: var(--box-shadow); */
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
	transition: all 0.3s ease;
	z-index: 2;
}

/* .btn::before {
	position: absolute;
	content: '';
	left: 0;
	top: 0;
	background: var(--green);
	color: #fff;
	height: 100%;
	width: 0;
	z-index: -1;
	transition: width 0.3s ease;
}

.btn:hover::before {
	width: 100%;

} */

.btn:hover {
	background: #fff;
	color: var(--light-green);
	/* transform: translateY(-3px) translateX(-50%); */
	box-shadow: 0 12px 24px rgba(0, 0, 0, 0.35);
}

.empty,
.message {
	border-radius: .5rem;
	background: var(--green);
	padding: 1.5rem;
	text-align: center;
	font-weight: 100%;
	font-size: 1.5rem;
	/* text-transform: capitalize; */
	line-height: 2;
	color: #fff;
}

.message {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

input,
textarea,
button,
select {
	background-color: transparent;
	border-radius: 20px;
	padding: 1rem;
	border: none;
	outline: none;
	width: 100%;
	margin: .6rem 0;
}

input[type='submit'] {
	cursor: pointer;
}

.option {
	background-color: var(--background-color);
	cursor: pointer;
	padding: 1rem;
}

label {
	text-transform: uppercase;
	color: var(--lightgay);
}

form h1 {
	text-align: center;
}

form span {
	margin: 0 auto;
	text-align: center;
	text-transform: uppercase;
	color: #5acd4c;
}

form p {
	text-align: center;
	color: var(--lightgay);
	margin-bottom: 1rem;
}

/*------form container------------*/
.main-container {
	background: #fff;
	width: 85vw;
	/* min-width: 80vh; */
	box-shadow: var(--box-shadow);
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2rem auto;
	padding: 1rem 0;
}

.form-container {
	width: 60vw;
	margin: 0 auto;
}

.form-container input,
select,
textarea {
	background-color: transparent;
	box-shadow: var(--box-shadow);
}

textarea {
	height: 200px;
}

.form-container p {
	color: #3f3f3f;
}

.form-container sup {
	color: red;
	font-size: 1.2rem;
}

.main-container input[type=submit] {
	color: #3f3f3f !important;
	width: auto;
	padding: 10px 20px;
	margin-top: 20px;
	cursor: pointer;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	border-radius: 5px;
	background-color: #fff;
}


.main-container input[type=submit]:hover {
	background-color: #fff;
	color: #3f3f3f;
	transform: translateY(-3px);
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.form-container form {
	width: 100%;
	margin: 1rem auto;
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: var(--box-shadow);
	padding: 2rem;
	position: relative;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form-container form .input-field {
	width: 100%;
	margin-bottom: 1rem;
	text-align: center;
}

.form-container form .input-field p {
	text-align: left;
	text-transform: uppercase;
}

.form-container form .input-field label {
	text-align: left;
	display: block;
}

.form-container form button {
	width: 85%;
	border-radius: 10px;
	outline: none;
}

/*--------add post------------*/
.add-post .flex-btn {
	display: flex;
	justify-content: center;
	gap: 10px;
}

.add-post .flex-btn input[type="submit"] {
	padding: 0.5rem 1.5rem;
}


@media (max-width: 768px) {
	.add-post .flex-btn {
		flex-direction: column;
		align-items: center;
	}

	.add-post .flex-btn input[type="submit"] {
		width: 100%;
		margin-bottom: 10px;
	}

	.add-post .flex-btn input[type="submit"]:last-child {
		margin-bottom: 0;
	}
}

/*--------form container--------------*/

.box-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
	align-items: center;
}

.box-container .box {
	margin: 1rem;
}

form sup {
	color: red;
}

.heading {
	text-align: center;
	text-transform: uppercase;
	padding: 1rem 0;
	color: var(--orange);
}

section,
.post-editor {
	width: 75vw;
	/* min-height: 100vh; */
	background: var(--bg-color2);
	border-radius: 10px;
	padding: 2em;
	margin: 1em auto;
}

/*-----------suctom scroll bar---------*/
::-webkit-scrollbar {
	width: 4px;
}

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 20px;
	border-radius: 20px;
	height: 50px;
	margin-top: 30px;
	margin-bottom: 30px;
	background: #6d6d6d;
	position: relative;
}

::-webkit-scrollbar-track {
	background: transparent;
	-webkit-border-radius: 20px;
	margin-right: 10px;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 10px;
	border-radius: 20px;
}

/*-----------login---------*/
#admin_login {
	margin: 1rem auto;
	display: flex;
	align-items: center;
	justify-content: center;

}

#admin_login .btn {
	width: 100%;
}

#admin_login .profile {
	margin-top: -8rem;
	text-align: center;

}

#admin_login .profile img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	border: 3px solid var(--green);
	padding: .5rem;
	background: #fff;
}

form h3 {
	text-align: center;
	text-transform: uppercase;
	font-size: 1.5rem;
	margin: 1rem 0;
	color: var(--green);
}

form span {
	color: var(--orange);
}

.form-container form input[type="submit"] {
	width: 49%;
	cursor: pointer;
	margin: .5rem;
	color: var(--green);
	font-size: 1.2rem;
}

.post-editor textarea {
	height: 15rem;
	resize: none;
}

.flex-btn {
	display: flex;
}

/*-----------header---------*/
/*--------header------------------*/
header {
	position: fixed;
	/* top: 5%; */
	top: 40px;
	/* left: 7.5%; */
	left: 50px;
	right: 50px;
	/* width: 85vw; */
	padding: 1rem;
	z-index: 101;
	transition: .3s;
	box-shadow: var(--box-shadow);
	border-radius: 15px;
}


.post-image {
	position: relative;
	display: flex;
	align-items: center;
}

header::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	background-color: rgba(255, 255, 255, 0.3);
	-webkit-backdrop-filter: blur(10px) brightness(1.1);
	backdrop-filter: blur(10px) brightness(1.1);
	border-radius: 15px;
}

header.scrolled {
	top: 10px;
	box-shadow: 0 5px 20px 0.1px rgba(0, 0, 0, 0.1);
}

header.scrolled::before {
	content: '';
	border-radius: 15px;
}

.header .flex {
	justify-content: space-between;
	padding-left: 1rem;
	padding-right: 1rem;
}

.flex {
	/* navbar height */
	height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0;
	width: 100%;
	margin: 0 auto;
}

.navbar {
	display: flex;
	justify-content: center;
	flex-grow: 1;
	flex: 1;
}

.navbar a {
	margin: 0 1rem;
	/* font-size: 1.375rem; */
	font-size: 1.25rem;
	color: #000;
	text-transform: uppercase;
	/* Make text bolder */
	font-weight: 600;
	transition: color 0.3s ease, padding-bottom 0.2s, transform 0.2s;
}

.navbar a:hover {
	color: rgb(3, 15, 35);
	transform: translateY(-3px);
}

.header .icons {
	display: flex;
	flex: 0.25;
	justify-content: flex-end;
}

.header .icons i {
	margin-left: 1rem;
	font-size: 1.5rem;
	cursor: pointer;
	color: #000 !important;
}

#menu-btn {
	display: none;
}

.header .user-box {
	position: absolute;
	top: 120%;
	right: 0rem;
	background: rgb(255 255 255 / 80%);
	box-shadow: var(--box-shadow);
	border-radius: .5rem;
	padding: 1rem;
	text-align: center;
	width: 20rem;
	transform: scale(0);
	transform-origin: top right;
	line-height: 2;
}

.header .user-box .btn {
	border-radius: .5rem;
	padding: 0 1.5rem;
}

.logout-btn {
	background: #000;
	color: #fff;
	text-transform: uppercase;
	width: 11rem;
	border-radius: .5rem;
	margin: .5rem 0;
	padding: .5rem 0;
}

.header .user-box.active {
	transform: scale(1.0);
	transition: .2s linear;
}

/*----------brand-----------------*/
/* This code is for the brand div that includes the logo and the brand name */
.brand-navbar {
	display: flex;
	align-items: center;
	gap: 10px;
	text-decoration: none;
	color: inherit;
	flex: 0.25;
	justify-content: flex-start;
	/* Apply transitions for both states */
	transition: transform 0.3s ease, color 0.3s ease;
}

.brand-navbar .logo img {
	width: 64px;
	height: auto;
}

.brand-navbar h1 {
	margin: 0;
	font-family: 'Snell Roundhand', cursive;
}

.brand-navbar:hover {
	color: var(--green);
	/* Lift effect on hover */
	transform: translateY(-2px);
}

/*---------profile detail-------------*/
#user-btn {
	font-size: 2rem;
	box-shadow: var(--inner-box-shadow);
	padding: .5rem;
	color: var(--lightgay);
	cursor: pointer;
	transition: .6s;
}

#user-btn:hover,
.toggle:hover {
	box-shadow: var(--outer-shadow);
	border-radius: 50%;
}

.toggle {
	margin-left: .5rem;
	padding: .5rem;
	cursor: pointer;
	font-size: 2rem;
	display: none;
	border-radius: unset;
	transition: .6s;
}

.profile-detail {
	position: absolute;
	top: 125%;
	right: 2rem;
	border-radius: .5rem;
	background-color: #fff;
	box-shadow: var(--box-shadow);
	width: 22rem;
	display: none;
	padding: 1.5rem .5rem;
	animation: .2s linear fadeIn;
	text-align: center;
	overflow: hidden;
}

@keyframes fadeIn {
	0% {
		transform: translateY(1rem);
	}
}

.profile-detail.active {
	display: inline-block;
}

.profile-detail p {
	padding-bottom: .7rem;
	font-size: 1.5rem;

	/* text-transform: capitalize; */
	color: var(--lightgay);
}

.profile-detail img {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	padding: .5rem;
	border: 3px solid var(--green);
}

.profile-detail .flex-btn {
	display: flex;
	justify-content: space-evenly;
	padding-bottom: 10px;
}

.profile-detail .flex-btn .btn {
	padding: .5rem 1.5rem;
	margin: 0 1rem;
}

/*-----------banner----------*/
.banner {
	background-image: url('../img/banner.jpg');
	background-size: cover;
	background-position: center;
	background-color: var(--green);
	width: 100%;
	height: 20vh;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.banner h1 {
	text-transform: uppercase;
	color: #fff;
	margin-left: 3rem;
	margin-right: 3rem;
}

.title2 {
	border-top: 1px solid var(--green);
	padding: 1rem 2rem;
	text-transform: uppercase;
	box-shadow: var(--box-shadow);
}

.title2 a {
	color: var(--green);
}

/*-------dashboard-------------*/

.dashboard .box-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	gap: 20px;
	align-items: stretch;
}

.dashboard .box-container .box {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	box-shadow: var(--box-shadow);
	border-radius: .5rem;
	text-align: center;
	padding: 1.5rem;
	padding-bottom: 3rem;
}

.dashboard .box-container .box h3 {
	font-size: 2.7rem;
	margin-bottom: 1rem;
}

.dashboard .box-container .box p {
	padding: 1rem;
	font-size: 1.8rem;
	margin: 1rem 0;
	/* text-transform: capitalize; */
	color: #555;
}

@media (max-width: 1365px) {
	.dashboard .box-container {
		grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	}
}

@media (max-width: 730px) {
	.dashboard .box-container {
		grid-template-columns: 1fr;
	}

	.dashboard {
		padding: 0;
	}
}

.dashboard-stat {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
	gap: 20px;
	padding: 20px;
	align-items: start;
}


.dashboard-stat .box {
	display: flex;
	flex-direction: column;
	padding: 20px;
	background-color: #f5f5f5;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	overflow: hidden;
	height: 100%;
}


.dashboard-stat .box canvas {
	width: 100% !important;
	height: auto !important;
	max-height: 450px;
}

@media (max-width: 768px) {
	.dashboard-stat {
		grid-template-columns: 1fr;
		padding: 0;
	}

	.dashboard-stat .box {
		padding: 0;
		box-shadow: none;
		border-radius: 0;
		margin: 0;
	}

	.dashboard-stat .box canvas {
		max-height: 350px;
	}
}

/*-------media screen-------------*/

.show-post .view-posts {
	display: block;
}

.show-post .box-container .box {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	padding: 20px;
	margin: 20px 0;
	/* padding: 1rem;
	margin: 1rem auto; */
	/* min-height: 20vh; */
	border-radius: 10px;
	box-shadow: var(--box-shadow);
	/* Peut-être mieux */
	/* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
	position: relative;
	overflow: hidden;
}

.show-post .box-container .box .status {
	position: absolute;
	top: 10px;
	left: 10px;
	/* padding: .5rem 1rem; */
	padding: 5px 10px;
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
	font-size: 1rem;
	border-radius: 5px;
	/* display: inline-block; */
	background-color: var(--light-green);
}

.show-post .box-container .box .name-price {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}

.show-post .box-container .box .title {
	font-size: 1.7rem;
	font-weight: bold;
	/* text-transform: uppercase; */
	color: var(--orange);
}

.show-post .box-container .box .price {
	font-size: 1.7rem;
	font-weight: bold;
	color: var(--orange);
}

/* Image and buttons container styling */
.show-post .box-container .box .image-box {
	display: flex;
	justify-content: space-between;
	align-items: end;
}

.show-post .box-container .box .image-container {
	margin: 10px 0;
	display: flex;
	gap: 10px;
}

.show-post .box-container .box .image {
	/* padding: 1rem; */
	/* margin: 1rem 0; */
	height: 10rem;
	width: auto;
	/* height: auto; */
	/* width: 30%; */
	aspect-ratio: 16 / 9;
	border-radius: 20px;
	object-fit: cover;
}

.show-post .box-container .box .image.puff {
	aspect-ratio: 1 / 1;
}

/* Button container styling */
.show-post .box-container .box .flex-btn {
	display: flex;
	gap: 10px;
}

.show-post .box-container .box .posts-content {
	font-size: 1.3rem;
	color: var(--lightgay);
	line-height: 1.5;
	padding: 1rem 0;
}

.show-post .box-container .box .btn {
	border: none;
	padding: 10px;
	width: 50px;
	height: 50px;
	margin: 0.2rem;
	border-radius: 5px;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	overflow: hidden;
}

.show-post .box-container .box .btn i {
	font-size: 1.2em;
}

.post-editor img {
	width: 60%;
	/* Center the image */
	margin-left: auto;
	margin-right: auto;
	display: block;
}

/*-------read post-------------*/
.read-post {
	display: flex;
	flex-direction: column;
	border-radius: .5rem;
}

.read-post form {
	width: 100%;
	border-radius: .5rem;
	padding: 2rem;
	box-shadow: var(--box-shadow);
	position: relative;
}

.read-post form .status {
	top: 3%;
	position: absolute;
	border-radius: .5rem;
	padding: .5rem 2rem;
	font-size: 1.1rem;
	color: #fff;
	display: inline-block;
	text-transform: uppercase;
}

.read-post form .image {
	width: 80%;
	border-radius: .5rem;
	margin-top: 1.5rem;
}

.read-post form .title {
	color: var(--orange);
	font-size: 2.5rem;
	margin-top: 1.5rem;
	text-align: center;
	text-transform: uppercase;
}

.read-post form .content {
	line-height: 2;
	font-size: 1.2rem;
	color: var(--lightgay);
	padding: 1rem 0;
}

.read-post form .icons {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 1rem 0;
}

.read-post form .icons div {
	font-size: 1.5rem;
	background: var(--orange);
	padding: .5rem;
	border-radius: 5px;
	box-shadow: var(--box-shadow2);
}

.read-post form .icons span {
	color: #000;
}

.read-post form .icons i {
	margin-right: .5rem
}

.read-post form .flex-btn {
	justify-content: space-between;
}

.read-post form .flex-btn .btn {
	width: 33%;
	text-align: center;
	margin: 10px;
}

.accounts {
	/* text-transform: capitalize; */
	line-height: 1.5;
}

.accounts h1 {
	margin-bottom: 4rem;
	color: var(--green);
}

.accounts .box-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, 30rem);
	align-items: center;
	justify-content: center;
}

.accounts .box-container .box {
	box-shadow: var(--box-shadow);
	padding: 2rem;
	border-radius: 10px;

}

.accounts span {
	color: orange;
}

.accounts .flex-btn {
	justify-content: space-evenly;
	margin-top: 1.5rem;
}

.accounts .flex-btn .btn {
	width: 100%;
	text-align: center;
	margin: 10px;
}

.accounts .profile {
	text-align: center;
	margin-top: -7rem;
}

.accounts img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	padding: .5rem;
	border: 3px solid var(--green);
}

/*-----------message container-------*/
.message-container .box-container .box {
	box-shadow: var(--box-shadow);
	text-align: center;
	padding: 2rem;
	border-radius: 10px;
	line-height: 1.5;
}

.message-container .box-container .box .name {
	/* text-transform: capitalize; */
	color: var(--green);
}

/*-------admin order-------------*/
.order-container .box-container .box {
	box-shadow: var(--box-shadow);
	padding: 1rem;
	border-radius: 10px;
	position: relative;
}

.order-container .flex-btn {
	display: flex;
	justify-content: space-between;
}

.order-container .flex-btn .btn {
	width: 45%;
	text-align: center;
	border-radius: 20px;

}

.order-container .status {
	position: absolute;
	left: -4%;
	text-transform: uppercase;
	font-size: 1rem;
	margin-bottom: 1rem;
	padding: .5rem 1rem;
	border-radius: .5rem;
	display: inline-block;
	margin-bottom: 1rem;
	background: var(--light-green);
}

.order-container .detail {
	margin-top: 3rem;
	line-height: 1.5;
	color: var(--lightgay);

	/* text-transform: capitalize; */
}

/* ---------canvas--------- */
.canvas {
	display: block;
	background-color: #fff;
}

/*-------media screen-------------*/
/*------------media screen----------*/
/* @media (max-width: 991px) { */
@media (max-width: 1136px) {
	#menu-btn {
		display: block;
	}

	.header .flex .navbar {
		position: absolute;
		width: 100%;
		padding: 0 2rem;
		top: 130%;
		left: 0;
		display: block;
		right: 0;
		transition: .3s ease;
		clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

	}

	.header .flex .navbar::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.8);
		-webkit-backdrop-filter: blur(10px);
		backdrop-filter: blur(10px);
		z-index: -1;
		border-radius: 20px;
	}

	.header .flex .navbar.active {
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	}

	.header .flex .navbar a {
		display: block;
		margin: 2rem;
		color: #fff;
		transition: color 0.3s;
		position: relative;
		transition: 0.5s;
	}

	.header .flex .navbar a:hover {
		transform: translateX(10px);
	}

	.main-container {
		width: 93vw;
	}

	.form-container {
		width: 100%;
	}

	form {
		width: 100%;
	}
}

@media (max-width: 1680px) {
	.show-post .box-container .box .image-box {
		gap: 10px;
	}

	.show-post .box-container .box .image {
		height: auto;
		width: 30%;
		margin: 1rem 0;
	}

}

@media (max-width: 1215px) {
	.show-post .box-container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
		gap: 20px;
		align-items: start;
	}

	.show-post .box-container .box {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto auto 1fr auto;
		padding: 10px;
		gap: 10px;
	}

	.show-post .box-container .box .status,
	.show-post .box-container .box .name-price,
	.show-post .box-container .box .flex-btn {
		grid-column: 1 / -1;
	}

	.show-post .box-container .box .name-price {
		display: flex;
		flex-direction: column;
		align-items: start;
		gap: 5px;
	}

	.show-post .box-container .box .title {
		font-size: 1.5rem;
		font-weight: bold;
		color: var(--orange);
	}

	.show-post .box-container .box .price {
		font-size: 1.3rem;
		font-weight: bold;
		color: #666;
	}

	.show-post .box-container .box .image-box {
		display: block;
	}

	.show-post .box-container .box .image-container {
		display: flex;
		overflow: hidden;
		justify-content: flex-start;
	}

	.show-post .box-container .box .image {
		aspect-ratio: 16 / 9;
		border-radius: 10px;
		object-fit: cover;
		flex: 0 0 100%;
	}

	.show-post .box-container .box .image+.image {
		display: none;
	}

	.show-post .box-container .box .flex-btn {
		justify-content: center;
	}
}